</main>
<footer>
 <div class="down">
    <p>&copy: Daniel_2025</p>
    <a class="btn-lg" href="/logout" role="button">Log Out from <div class="email-marquee"> <span> <%= user.email %> </span> </div> </a>
 </div>
</footer>
</body>
</html>