<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Review | Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header class="auth-header">
      <h1 class="auth-title">Book Review Hub</h1>
    </header>
    <main class="auth-main">
     <div class="auth-card">
      <p class="auth-tagline">Welcome to The Book Review Hub,</br>Write and share reviews of your favorite books.</p>
      <div class="auth-buttons">
        <a class="regis-btn" href="/register" class="auth-btn">Register</a>
        <a class="login-btn" href="/login" class="auth-btn">Login</a>
      </div>
     </div>
    </main>
  </body>
</html>